/*****************************************************/
/****General****/
*
{
	margin:0px;
	padding:0px;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body
{
	background:#e2f6ff url('images/background.jpg') 0 0 repeat;
	font-family: calibri, Geneva, sans-serif;
	font-size: 16px;
}
a{
	text-decoration:underline;
	color:#000;
}
img {
	max-width: 100%;
	border:0px;
}
a:hover{
	color:#6c6c6c;
}
table, tr, td, tbody
{
	border:0px;
	display: block;
}
h1
{
	// text-align:center;
	margin:0px;
	padding:0px;
}
.container {
	width: 1024px;
	margin: 0 auto;
}
.clean
{
	clear:both;
}
.date {
	font-style:italic;
	text-align:right;
	font-size:0.9em;
	margin-right:10px;
}
.edit {
	float:left;
}
.left {
	text-align:left;
}
.right {
	text-align:right;
}
.center {
	text-align:center;
}
.brand {
	max-width: 250px;
	margin: 0 auto;
}
.brand img {
	display: block;
}
input[type=text], input[type=submit], input[type=button], input[type=password]
{
	width:150px;
}
label
{
	width:200px;
	display:inline-block;
	vertical-align:top;
	text-align:left;
}
.message_buttons input
{
	width:auto;
	padding:0px 5px;
}
.button
{
	padding:5px 15px;
	vertical-align:middle;
	border:1px solid #aaaaaa;
	font-weight:bold;
	background:url('images/button.png') repeat-x;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
}
table
{
	border-spacing:0px;
	background:#ffffff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	padding:0px;
	width: calc(100% + 40px);
    margin: 5px -20px;
}
tr
{
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	margin:0px;
}
td, th
{
	margin:0px;
	border:0px;
	padding:3px;
	/*text-align:center;*/
}
q{
	background: #e0cac0;
	border: 1px solid #cfad9e;
  padding: 5px;
  display: block;
}
/*****************************************************/
/****Blocks****/
.clearfix {
	display: table;
	clear: both;
	content: " ";
}
.header
{
	margin-top:10px;
	padding: 15px 20px;
	background: #fff;
	border: 1px solid #678f8f;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
}
.header_meta {
	margin-top: 10px;
	text-align: center;
}
.header_meta h4 {
	font-weight: normal;
}
.youtube {
	width: 70%;
	height: 400px;
}
.foot
{
	text-align:center;
	background: #fff;
	border: 1px solid #678f8f;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	padding:10px 20px;
	margin:10px auto;
}
.index .content {
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	margin-top:10px;
	border: none;
	background: none;
}
.header-menu {
	margin-bottom: 20px;
}
.header-menu li {
	display: inline-block;
}
.header-menu li:after {
	display: inline-block;
	content: " / ";
	font-weight: bold;
}
.header-menu li:last-of-type:after {
	display: none;
}
.ads {
	margin: 10px 0;
}
.ads img {
	width: 100%;
	display: block;
}
.ads ul {
	width: 100%;
}
.ads li {
	width: 32.66667%;
	margin-right: 1%;
	float: left;
	background: #fff;
	list-style: none;
	border: 1px solid #678f8f;
	// max-height: 150px;
}
.ads li:last-of-type {
	margin-right: 0;
}
.content{
	overflow: hidden;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	margin-top:10px;
	border: 1px solid #678f8f;
	background: #fff;
}
.forums-box {
	background: #fff;
	border: 1px solid #678f8f;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	overflow: hidden;
	margin-bottom: 10px;
}
.forums-box h3 {
	text-align: center;
	text-transform: uppercase;
	padding: 10px;
	background: #99cccc;
	border-bottom: 1px solid #678f8f;
}
.birthday h3 {
	text-align: center;
	padding: 10px 10px 0;
	margin-bottom: -10px;
	background: #99cccc;
}
.page-title {
	text-align: center !important;
	text-transform: capitalize;
	padding: 10px !important;
	background: #99cccc;
	border-bottom: 1px solid #678f8f;
}
.forum-list {
	padding: 10px 20px;
}
.forum-list:nth-of-type(2) {
	background: #99cccc;
  border-bottom: 1px solid #678f8f;
  border-top: 1px solid #678f8f;
}
.forum-list li {
	display: inline-block;
	font-weight: 600;
}
.forum-list li:after {
	display: inline-block;
	content: ',';
	margin-right: 5px;
	margin-left: -4px;
}
.forum-list li:last-child:after,
.forum-list li:first-child:after {
	display: none;
}
.forum-item img,
.forum_tops img,
.message-title img {
	width: 15px;
}
.message-item-unread {
	background: #f5f5dc;
}
.message-item {
	font-size: 15px;
	padding: 5px 15px;
}
.message-title {
	background: #f5f5dc;
	font-size: 13px;
	padding: 5px 15px;
}
.message-title h3{
	font-weight: normal;
}
.message-box {
	padding: 5px 15px;
}
.message-feature {
	font-size: 12px;
	color: #777;
	font-weight: normal;
	margin-top: 5px;
}
.message-feature a {
	color: #551818;
}
.message-feature a:hover {
	color: #6c6c6c;
}
.message-like {
	margin-right: 5px;
	color: #3b3b3b;
	font-weight: bold;
}
.index-list {
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	overflow: hidden;
	border: 1px solid #678f8f;
	text-align: center;
}
.index-list li {
	/*border-bottom: 1px solid #678f8f;*/
	padding: 5px 20px;
	list-style: none;
}
.index-list li:before,
.index-list li:after {
	font-size: 15px;
	letter-spacing: -6.5px;
	display: inline-block;
}
.index-list li:first-of-type:after {
	display: none;
}
.index-list li:first-of-type:before {
	display: none;
}
.index-list li:after {
	content: "<<*";
}
.index-list li:before {
	margin-right: 5px;
	content: "*>>";
}
.index-list li:last-of-type {
	border-bottom: none;
}
.index-list li {
	background: #fff;
	border-bottom: 1px solid #678f8f;
}/*
.index-list li:nth-child(even) {
	background: #fff;
}*/
.index-list li:first-of-type {
	background: #99cccc;
	border-bottom: 1px solid #678f8f;
}
.index-list li:last-of-type {
	background: #99cccc;
	border-bottom: none;
}
.index-list li:last-of-type:after,
.index-list li:last-of-type:before {
	display: none;
}/*
.index-list li:nth-child(odd) {
	background: #99cccc;
}*/
.index-title li,
.page-breadcrumb li {
	display: inline-block;
	border-bottom: none;
	padding: 0;
}
.page-breadcrumb li,
.content-footer li {
	font-size: 16px;
}
.index-title li a,
.page-breadcrumb a {
	font-weight: bold;
}
.index-list .index-title li:after,
.page-breadcrumb li:after,
.content-footer .content-footer__item:after {
	display: inline-block;
	font-weight: bold;
	content: " / ";
	/*margin-right: 5px;*/
}
.index-title li:last-of-type:after,
.page-breadcrumb li:last-of-type:after,
.content-footer .content-footer__item:last-of-type:after {
	display: none;
}
.index-title li:last-of-type {
	border-top: none;
}
.index-title li:first-of-type {
	border-bottom: none;
}
.index-title li:nth-child(even) {
	background: initial;
}
.index-title li:nth-child(odd) {
	background: initial;
}
.pagination {
	display: inline-block;
}
.pagination a {
	font-weight: bold;
}
.pagination li {
	display: inline-block;
	list-style: none;
	padding: 0;
	background: initial;
}
.pagination li:first-of-type {
	border-bottom: none;
}
.pagination li:last-of-type {
	border-top: none;
}

.pagination li:before,
.pagination li:after {
	display: none;
}
.content-footer li {
	display: inline-block;
}
.copyright {
	margin-bottom: 5px;
}
.main-content {
	padding: 10px 20px;
}
.main-content a {
	font-weight: bold;
}
.content-footer {
	margin: 10px -20px -10px;
    text-align: center;
    padding: 10px;
    background: #99cccc;
    border-top: 1px solid #678f8f;
}
.content-footer a {
	font-weight: bold;
}
.add-new {
	text-transform: capitalize;
	font-size: 15px;
}
.box_left {
	float:left;
}
.box_right {
	float:right;
}
.box {
	margin:auto;
	padding:5px;
}
.login {
	// width:355px;
	margin:auto;
	// text-align:left;
}
.box_login {
	background:url('images/black_40p.png');
	width:360px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	margin:auto;
	padding:20px;
	margin-top:20px;
	color:#ffffff;
}

.topic-meta {
	font-size: 12px;
	margin: 2px 0;
}
.rel-position {
	position: relative;
}
.abs-position {
	position: absolute;
}
.topics_table .rel-absolute {
	top: -10px;
}
.birthday.content {
	background: #fff;
	border-radius: 15px;
}
.pad-10 {
	padding: 10px;
}
.birthday ul {
	text-align: center;
	background: #99cccc;
}
.birthday li {
	display: inline-block;
}
.birthday li:after {
	display: inline-block;
	content: ",";
}
.birthday li:last-of-type:after {
	display: none;
}

/*****************************************************/
/****Content****/
.big
{
	font-size:1.2em;
}
.small
{
	font-size:0.7em;
}
.message
{
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	padding:20px;
	margin:auto;
	width:50%;
	background: #949ba0;
	opacity: .8;
	color:#ffffff;
	text-align:center;
	font-weight:bold;
}
.messages_table td {
	border-top:1px solid #ccc;
	vertical-align:top;
}
.messages_table tr:last-of-type td {
	border-bottom:1px solid #ccc;
}
.author
{
	width:150px;
	border-right:1px solid #cccccc;
}
.title_cell
{
	width:45%;
}
.forum_ntop, .forum_nrep, .forum_act, .forum_auth
{
	width:100px;
}
td.forum_cat, td.forum_tops {
	padding-left:15px;
	text-align:center;
}
.categories_table td, .categories_table th, .topics_table td, .topics_table th, .list_pm td, .list_pm th {
	border-bottom:1px solid #cccccc;
}
.categories_table tr:last-child td, .topics_table tr:last-child td, .list_pm tr:last-child td {
	border-bottom:0px;
}
.title {
	font-weight:bold;
	text-transform: capitalize;
}
td.forum_cat .description
{
	padding-left:5px;
}
.attachments {
	margin-top: 10px;
}

@media(max-width: 1024px) {
	.container {
		width: 95%;
	}
}

@media(max-width: 768px) {
	.ads li {
		width: 49%;
		margin-right: 2%;
	}
	.ads li:nth-child(2) {
		margin-right: 0;
	}
	.ads li:last-child {
		display: none;
	}
	.youtube {
		width: 100%;
	}
}
@media(max-width: 600px) {
	.youtube {
		height: 300px;
	}
}
@media(max-width: 425px) {
	.ads li {
		width: 100%;
	}
	.ads li:nth-child(2) {
		display: none;
	}
	label {
		display: block;
	}
	.youtube {
		height: 200px;
	}
}